.titulo{
    color: purple;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    
}

.img{
    width: 500px;
    height: 500px;
    display:    block;
    margin: 0 auto;

}

body{
background-image: url("https://img.freepik.com/vetores-gratis/papel-de-parede-tecnologico-futurista_79603-1093.jpg");
background-size: cover;
}